body {
    background-image: url('images/heartsbackground.jpg');
    background-size: cover;
    background-color: pink;

}

#gameboy {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    position: relative;

}

div {

    overflow: hidden;
}

.screen {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;

}


.container {
    width: 100%;
    display: grid;
    gap: 20px;
    height: 100%;
    /* Space between rows */

}

#top,
#middle,
#bottom {
    font-family: fa;
    gap: 10px;
}


#health {
    visibility: hidden;
    justify-self: end;
    /* Moves the image to the right */
    width: 300px;
    margin-left: 230px;


}


#middle {
    display: block;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    animation: float 2s ease-in-out infinite;
    vertical-align: middle;
    width: 100%;
    letter-spacing: .15em;

}


#bottom {
    align-self: end;
    height: 150px;
    visibility: hidden;
}

#character {
    padding-left: 30px;
    float: left;
    width: 150px;
    height: auto;
}

#dialog {
    margin-top: 25px;
    overflow: hidden;
    align-items: center;
    height: auto;
    text-align: left;
    padding: 20px;
}



#text {
    vertical-align: middle;
    font-size: large;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    letter-spacing: .15em;

}


#bottom,
#health {

    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: fa;
    src: url(extra/ARCADECLASSIC.TTF);
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}