body {
    background-image: url('images/heartsbackground.jpg');
    background-size: cover;
    background-color: pink;

}

#gameboy {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    position: relative;

}

div {
    overflow: hidden;
}

.screen {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: groove;
    color: white;

}

.container {
    display: grid;
    gap: 20px;
    height: 100%;
}

.row {
    display: grid;
    gap: 10px;
}

.column1,
.column2,
.column3 {
    font-family: fa;
    border-style: dotted;
}

.column1 {
    justify-self: end;
    /* Moves the image to the right */
    width: 300px;
    margin-left: 230px;

}

.column2 {
    justify-self: center;
    align-self: center;
    font-size: 40px;
    animation: float 2s ease-in-out infinite;
    vertical-align: middle;
    width: 100%;
    letter-spacing: .15em;

}

.column3 {
    align-self: end;
    display: inline-block;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 20px;

}

.type {
    font-size: large;
    position: relative;
    width: 0;
    max-width: 100%;
    overflow: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-right: 2px solid pink;
    animation: 
        typing 3s steps(40) forwards,
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: pink;
    }
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

@font-face {
    font-family: fa;
    src: url(ARCADECLASSIC.TTF);
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}
